.app {
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
}

.content-wrapper {
  text-align: left;
  width: 328px;
}

.logo {
  margin-bottom: 16px;
  max-width: 128px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;

  .submit-button {
    background: $primary-color;
    border-radius: 4px;
    border-width: 0;
    box-shadow: 0px 3px 6px $shadow-color;
    color: $background-color;
    font: normal 14px/16px Roboto;
    height: 36px;
    letter-spacing: 1.25px;
    width: 98px;

    &:hover {
      background: $primary-color; // overriding matiral ui style.
    }
  }
}

.validation-msg {
  color: $secondary-color;
  font: normal 12px/16px Roboto;
}

@media (max-width: 600px) {
  .container {
    background: $background-color;
    padding: 0 30px;
  }

  .content-wrapper {
    align-items: center;
    background: $container-background-color;
    border-radius: 4px;
    box-shadow: 0px 3px 6px $shadow-color;
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    width: 370px;
  }

  .form {
    width: 90%;
  }
}
