// Roboto font 
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

// _variables.scss
$primary-color: #C3001E;
$secondary-color: #B00020;
$background-color: #EFEFEF;
$container-background-color: #FFFFFF;
$shadow-color: #00000029;
